polars-lts-cpu
pyarrow>=7
numpy
pymupdf>=1.19.1
opencv-contrib-python-headless
beautifulsoup4
xlsxwriter>=3.0.6




polars-lts-cpu
pyarrow>=7
numpy
pymupdf>=1.19.1
opencv-contrib-python-headless
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.19.1
google-auth-httplib2==0.1.0
google-cloud-bigquery==3.11.0
google-cloud-core==2.3.2
google-cloud-documentai==2.15.0
google-cloud-documentai-toolbox==0.7.0a0
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-cloud-vision==3.4.2
google-cloud-secret-manager==2.16.1
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
grpc-google-iam-v1==0.12.6
beautifulsoup4
xlsxwriter>=3.0.6
requests
firebase_admin
--extra-index-url https://us-central1-python.pkg.dev/legalia-mvp-dev-386605/legalia-os/simple 
legalia-os
--extra-index-url https://us-central1-python.pkg.dev/legalia-mvp-dev-386605/img2table/simple 
img2table